<!DOCTYPE html>
<html lang="en">
  {%include 'calculadora/partials/head.html'%}
  <body>

      {% include 'calculadora/partials/header.html' %}
    <div class="container-desenvolvedores">
        <div class="box-desenvolvedor">
            <p>LINKEDIN: <a></a></p>
            <p>EMAIL: @aluno.unip.br</p>
        </div>
        <div class="box-desenvolvedor">
            <p>LINKEDIN: <a href="https://www.linkedin.com/in/guilherme-rodrigues-de-souza-07786a217">https://www.linkedin.com</a></p>
            <p>EMAIL: guilherme.souza188@aluno.unip.br</p>
        </div>
        <div class="box-desenvolvedor">
            <p>LINKEDIN: <a href="https://www.linkedin.com/in/glauco-tolotto">https://www.linkedin.com</a></p>
            <p>EMAIL: glauco.tolotto@aluno.unip.br</p>
        </div>
        <div class="box-desenvolvedor">
            <p>LINKEDIN: <a href="https://www.linkedin.com/in/perfil-viniciusmendes">https://www.linkedin.com</a></p>
            <p>EMAIL: vinicius.silva619@aluno.unip.br</p>
        </div>
    </div>
  </body>
</vinicius.silva619@aluno.unip.br